<?xml version="1.0" encoding="utf-8" ?>
<odoo>

    <menuitem id="menu_school_root"
              name="School"
              sequence="10"/>

    <menuitem id="menu_school_class"
              name="Class"
              parent="menu_school_root"
              sequence="10"/>

    <menuitem id="menu_school_student"
              name="Students"
              parent="menu_school_class"
              sequence="10"/>
</odoo>